---
import {SEO} from "astro-seo";
// import { GET_POSTS_ALL } from "../util/graphql/queries";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO title="hi mom" />
	</head>
	<body>
		<h1 class="text-gray-400">Astro</h1>
	</body>
</html>
