---
import { GET_POSTS_ALL } from "../../util/graphql/queries";

export const prerender = true;
export async function getStaticPaths() {
    const data = await GET_POSTS_ALL();
    return data.map((post:any) => 
        ({
            params: { path: post.slug },
            props: post.attributes 
    }));
}
const postData:any = Astro.props;
---

<div>{postData.title}</div>
